@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-color-btn-hover: rgba(245, 183, 5, 2);
  --stars-color: rgb(255, 183, 0);
  --main-color: #f2b705;
}

/* Tira a outline de qualquer elemento focado: */
*:focus {
  outline: none !important;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  font-weight: 800;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #1d1d1d;
}

h6 {
  color: #d8d8d8;
}

bMain {
  color: var(--main-color);
}

button {
  font-size: 0.8rem;
  font-weight: 700;
  border-radius: 0.5rem !important;
  outline: none;
  border: none;
  text-transform: uppercase;
  background-color: #1d1d1d;
  color: aliceblue;
  padding: 13px 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #353535;
}

.navbar {
  font-size: 16px;
  top: 0;
  left: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.navbar .nav-item a {
  color: black;
}

.navbar-light .navbar-nav .nav_link {
  padding: 0 20px;
  color: black;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3 ease;
}

.navbar-light .navbar-nav .nav_link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav_link.active,
.navbar i.active,
.nav-item .active {
  color: var(--main-color);
}

.navbar i {
  font-size: 1.2rem;
  padding: 0 7px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
}

/* Estilização menu hambúrguer: */
#bar {
  font-size: 1.5rem;
  padding: 7px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
  color: black;
}

#bar:hover,
#bar.active {
  color: #fff;
}

/* Estilização na navBar mobile: */
@media only screen and (max-width: 991px) {
  body nav div button:hover,
  body nav div button:focus {
    background-color: black;
  }

  body nav div button:hover #bar,
  body nav div button:focus #bar {
    color: #fff;
  }

  #navbarSupportedContent ul {
    margin: 1rem;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
  }

  /* Remove o espaçamento a mais dos links da navBar em
  relação aos ícones de pesquisa e carrinho: */
  #navbarSupportedContent ul li:nth-child(n) a {
    padding: 10px 0;
  }
  /* Espaçamento entre os links da navBar mobile (menu hambúrguer): */
  #navbarSupportedContent ul li:nth-child(n) {
    padding: 5px;
  }
}
.navbar-light .navbar-toggler {
  border: none;
  outline: none;
}

/* Barrinha pra separar o conteúdo: */
hr {
  width: 280px;
  min-height: 4px;
  background-color: var(--main-color);
}

/* Efeito do botão aparecendo de baixo */
.buy-btn {
  background: var(--main-color);
  transform: translateY(20px);
  opacity: 0;
  border-radius: 0.3rem;
  transition: 0.3s all;
}
.buy-btn {
  transform: translateY(0px);
  opacity: 1;
}

.buy-btn:hover {
  background-color: var(--main-color-btn-hover);
}

/* Espaçamento entre as estrelas */
.stars {
  padding: 2px 0;
}

.stars i {
  font-size: 00.8rem;
  color: var(--stars-color);
}

/* Estilização da nav de paginação: */
#products > nav > ul > li.page-item.active > a {
  background-color: black;
  border-color: black;
  color: white;
}
#products > nav > ul > li:nth-child(n):hover > a {
  background-color: var(--main-color);
  border-color: black;
  color: white;
  font-weight: 600;
}
.pagination a {
  color: black;
}

/* Tira a estilização dos links dos botão de compra nos produtos: */
.product a {
  color: white;
  text-decoration: none;
}

.product a:hover {
  color: white;
  text-decoration: none;
}

/* Estilização da caixa de seleção e input de produto: */
select {
  display: block;
  padding: 5px 10px;
}

.singleProduct input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

/* Footer */
footer {
  background-color: #222222;
}

footer h5 {
  color: var(--main-color);
  font-weight: 700;
}

footer h6 {
  color: white;
  font-weight: 500;
}

footer li {
  padding-bottom: 4px;
}

footer p {
  color: rgb(204, 204, 204);
  font-size: 0.9rem;
}

footer .copyright a {
  color: black;
  width: 38px;
  height: 38px;
  background-color: white;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  transition: 0.3s ease;
  margin: 0 5px;
}

/* Estilização dos social Links: */
footer a {
  font-size: 1rem;
  color: rgb(204, 204, 204);
}

footer .row a:hover {
  color: white;
  background-color: var(--main-color);
}


.card-ortifood {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
  width: 100%;
  max-width: 280px; /* aqui você controla o quanto o card pode crescer */
  min-width: 250px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
}

.card-ortifood:hover {
  transform: translateY(-4px);
}

.cards-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.nome-produto {
  font-weight: bold;
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 0;
  padding-bottom: 0;
}

.unidade-produto {
  font-size: 0.9rem;
}

.preco-produto {
  font-size: 1.2rem;
  color: var(--main-color);
  font-weight: bold;
}

.align-left {
  text-align: left;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: #fff3d1;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-right: 5%;
}

.icons-color {
  color: var(--main-color);
  margin-right: 0.5rem;
}

.image-wrapper {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-wrapper img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.card-classic {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
  width: 100%;
  max-width: 280px; /* aqui você controla o quanto o card pode crescer */
  min-width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
}

.card-classic:hover {
  transform: translateY(-4px);
}

.esphere {
  width: 77px;
  height: 30px;
  background-color: #fff3d1;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.9rem;
  margin-right: 5%;
}

.image-container img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.card-img-container {
  height: 60px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.produto-img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

dialog {
  width: 90%;
  max-width: 650px;
  height: 700px;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  border: none;
  box-shadow: none;
  background-color: white;
  z-index: 9999;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 0;
}

.dialog-footer {
  text-align: right;
  padding-top: 10px;
}

.product-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-image {
  flex-shrink: 0;
  max-width: 100%;
}

.product-details {
  display: flex;
  flex-direction: column;
}

.product-name {
  margin: 0;
  font-size: 1.2rem;
}

.dropdown-container {
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 8px;
  margin: 10px auto;
  overflow: hidden;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  cursor: pointer;
  font-weight: bold;
  color: #333;
}

.dropdown-title {
  font-size: 16px;
}

.dropdown-icon {
  font-size: 14px;
  transition: transform 0.3s ease;
  margin-left: auto;
}

.dropdown-content {
  padding: 10px;
  display: none;
  background-color: #fafafa;
  border-top: 1px solid #ddd;
  font-size: 14px;
  color: #555;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.dropdown-container.open .dropdown-content {
  display: block;
  max-height: 200px;
  transition: max-height 0.3s ease;
}

.dropdown-container.open .dropdown-icon {
  transform: rotate(180deg);
}

.info-item {
  margin-bottom: 10px;
}

.info-item label {
  display: block;
  margin-bottom: 5px;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container input {
  flex-grow: 1;
  padding: 5px;
  border-radius: 8px;
}

.input-container input:focus {
  border-color: #888;
}
.input-container input:disabled {
  border-color: #888;
}

.input-container .unit {
  margin-left: 5px;
  font-weight: bold;
}

